<form action="/db/<%=hattr path %>/<%=hattr record.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="button is-danger">Delete</button>
</form>
