<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta name="charset" value="utf-8" />

    <link rel="icon" href="/images/favicon.png" />
    <link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/app.css" />
    <script type="text/javascript" src="/javascript/app.js"></script>
  </head>

  <body>
    <header class="hero">
      <nav id="top-menu" class="level">
        <div class="level-right">
          <a class="level-item" href="/sidekiq" title="Sidekiq Dashboard">
            <img src="/images/sidekiq.svg" />
          </a>

          <a class="level-item" href="https://github.com/ronin-rb/ronin-app" title="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24"><title>GitHub logo</title><path fill="#ffffff" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" /></svg>
          </a>

          <button id="dark-mode-toggle" class="level-item">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="dark-mode-sun" viewBox="0 0 512 512"><path fill="#ffffff" d="M256,384c-70.7,0-128-57.3-128-128s57.3-128,128-128s128,57.3,128,128S326.7,384,256,384z M256,0 c14.1,0,25.6,11.5,25.6,25.6v51.2c0,14.1-11.5,25.6-25.6,25.6c-14.1,0-25.6-11.5-25.6-25.6V25.6C230.4,11.5,241.9,0,256,0z M256,409.6c14.1,0,25.6,11.5,25.6,25.6v51.2c0,14.1-11.5,25.6-25.6,25.6c-14.1,0-25.6-11.5-25.6-25.6v-51.2 C230.4,421.1,241.9,409.6,256,409.6z M25.6,230.4h51.2c14.1,0,25.6,11.5,25.6,25.6c0,14.1-11.5,25.6-25.6,25.6H25.6 C11.5,281.6,0,270.1,0,256C0,241.9,11.5,230.4,25.6,230.4z M435.2,230.4h51.2c14.1,0,25.6,11.5,25.6,25.6 c0,14.1-11.5,25.6-25.6,25.6h-51.2c-14.1,0-25.6-11.5-25.6-25.6C409.6,241.9,421.1,230.4,435.2,230.4z M437,75 c10,10,10,26.2,0,36.2l-36.2,36.2c-9.8,10.2-26,10.4-36.2,0.6c-10.2-9.8-10.5-26-0.6-36.2l0.6-0.6L400.8,75C410.8,65,427,65,437,75 z M147.4,364.6c10,10,10,26.2,0,36.2L111.2,437c-9.8,10.2-26,10.5-36.2,0.6c-10.2-9.8-10.5-26-0.6-36.2l0.6-0.6l36.2-36.2 C121.2,354.6,137.4,354.6,147.4,364.6z M111.2,75l36.2,36.2c9.8,10.2,9.6,26.4-0.6,36.2c-9.9,9.6-25.7,9.6-35.6,0L75,111.2 C65.2,101,65.5,84.8,75.6,75C85.6,65.4,101.3,65.4,111.2,75L111.2,75z M400.8,364.6l36.2,36.2c9.8,10.2,9.5,26.4-0.6,36.2 c-9.9,9.6-25.7,9.6-35.6,0l-36.2-36.2c-10.2-9.8-10.5-26-0.6-36.2c9.8-10.2,26-10.5,36.2-0.6L400.8,364.6z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="dark-mode-moon" viewBox="0 0 20 20"><path fill="#ffffff" d="M17.39 15.14A7.33 7.33 0 0 1 11.75 1.6c.23-.11.56-.23.79-.34a8.19 8.19 0 0 0-5.41.45 9 9 0 1 0 7 16.58 8.42 8.42 0 0 0 4.29-3.84 5.3 5.3 0 0 1-1.03.69z"/></svg>
          </button>
        </div>
      </nav>

      <div class="container">
        <div id="logo">
          <a href="/" title="Home">
            <img src="/images/logo.svg" alt="Ronin logo" />
          </a>
        </div>

        <nav id="app-menu" class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item">home</a>
              <a href="/db" class="navbar-item">database</a>
              <a href="/nmap" class="navbar-item">nmap</a>
              <a href="/masscan" class="navbar-item">masscan</a>
              <a href="/import" class="navbar-item">import</a>
              <a href="/spider" class="navbar-item">spider</a>
              <a href="/about" class="navbar-item">about</a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="container">
      <%= yield_content :breadcrumbs %>

      <% unless flash.empty? %>
        <% flash.each do |type,text| %>
          <div class="notification is-<%= type %> is-light">
            <button class="delete"></button>
            <%= text %>
          </div>
        <% end %>
      <% end %>

      <section class="content">
        <%= yield %>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-full">
            <span>(c) 2023 Hal Brodigan</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
