<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<div class="is-flex is-justify-content-space-between">
  <h1>Passwords</h1>
  <%= partial(:delete_all, path: "passwords") %>
</div>

<% @passwords.each do |password| %>
  <p><a href="/db/passwords/<%=h password.id %>"><%=h password %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
