<% content_for :breadcrumbs  do %>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/db">Database</a></li>
    </ul>
  </nav>
<% end %>

<div class="is-flex is-justify-content-space-between">
  <h1>Street Addresses</h1>
  <%= partial(:delete_all, path: "street_addresses") %>
</div>

<% @street_addresses.each do |street_address| %>
  <p><a href="/db/street_addresses/<%=h street_address.id %>"><%=h street_address %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
