<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<h1>URL Query Param Names</h1>

<% @url_query_param_names.each do |url_query_param_name| %>
  <p><a href="/db/url_query_param_names/<%=h url_query_param_name.id %>"><%=h url_query_param_name %></a></p>
<% end %>
