:root {
	--bg-color: white;
	--fg-color: black;
	--dark-mode-bg-color: #0f0f1b;
	--dark-mode-fg-color: white;
}

body {
	width: 100%;
	height: 100%;
	color: var(--fg-color);
	background-color: var(--bg-color);
}

main {
	clear: both;
}

header {
	width: 100vw;
	background-color: black;
}

nav#top-menu {
	margin-left: auto;
	padding: 0.5em 0.5em;
}

nav#top-menu .level-item {
	padding-left: 0.5em;
	margin-right: 0.5em;
}

nav#top-menu svg {
	width: 2.5em;
	height: 2.5em;
}

button#dark-mode-toggle {
	background: none;
	border: none;
}

button#dark-mode-toggle svg#dark-mode-sun {
	display: inline;
}

button#dark-mode-toggle svg#dark-mode-moon {
	display: none;
}

#logo {
	margin: 0.5em;
}

nav.navbar {
	font-size: 140%;
}

nav.navbar a.navbar-item, nav.navbar a.navbar-link {
	color: white;
	font-weight: bold;
}

nav.navbar a:hover {
	color: black;
}

.content {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content .breadcrumb > ul {
	margin-left: 0;
}

.content .breadcrumb > ul > li+li {
	margin-top: 0;
}

.content .breadcrumb a {
	filter: brightness(70%);
	text-decoration: none;
}

.content .bradcrumb a:hover {
	filter: brightness(90%);
	background-color: inherit;
}

.content .column {
	height: 100%;
}

.content a {
	color: var(--fg-color);
	font-weight: bold;
	text-decoration: underline;
}

.content a:hover {
	color: var(--bg-color);
	background-color: var(--fg-color);
	text-decoration: none;
}

.content pre {
	color: var(--bg-color);
	background-color: var(--fg-color);
	padding: 1em 1.5em;
	margin-bottom: 1em;
	overflow-x: auto;
}

.content .advanced {
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.content .advanced > a.advanced-toggle {
	border-bottom: 1px solid #c3c3c3;
}

.content .advanced.hidden > .advanced-content {
	display: none;
}

footer.footer {
	clear: both;
	margin-top: 10rem;
	color: gray;
	background-color: var(--fg-color);
	font-size: medium;
	background-color: black;
}

body.dark-mode {
	color: var(--dark-mode-fg-color);
	background-color: var(--dark-mode-bg-color);
}

body.dark-mode main .box,
body.dark-mode main table {
	color: var(--dark-mode-fg-color);
	background-color: var(--dark-mode-bg-color);
}

body.dark-mode main code {
	color: var(--dark-mode-fg-color);
	background-color: black;
}

body.dark-mode main h1,
body.dark-mode main h2,
body.dark-mode main h3,
body.dark-mode main h4,
body.dark-mode main h5,
body.dark-mode main h6,
body.dark-mode main p,
body.dark-mode main label,
body.dark-mode main strong,
body.dark-mode main a {
	color: var(--dark-mode-fg-color);
}
