[Unit]
PartOf=ronin-app.target
StopWhenUnneeded=yes

[Service]
User=ronin-app
WorkingDirectory=/srv/ronin-app
Environment=PS=sidekiq.1
ExecStart=/bin/bash -lc 'exec -a "ronin-app-sidekiq.1" bundle exec sidekiq -C ./config/sidekiq.yml -r ./config/sidekiq.rb -r ./workers.rb -e production'
Restart=always
RestartSec=14s
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
