<script type="text/javascript" src="/javascript/tabs.js"></script>

<h1>Build Payload: <%=h @payload.class.id %></h1>

<form method="post">
  <% unless @payload.class.params.empty? %>
    <%= partial :param_fields, object: @payload %>
  <% end %>

  <div class="field">
    <button type="submit" class="button is-primary">Build</button>
  </div>
</form>

<% if @built_payload %>
  <h2>Built Payload</h2>

  <%= partial :encoding_tabs, string: @built_payload %>
<% end %>
