<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<h1>URLs</h1>

<% @urls.each do |url| %>
  <p><a href="/db/urls/<%=h url.id %>"><%=h url %></a></p>
<% end %>
