<% content_for :breadcrumbs  do %>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/db">Database</a></li>
    </ul>
  </nav>
<% end %>
  
<h1>Vulnerabilities</h1>

<% @vulns.each do |vuln| %>
  <p><a href="/db/vulns/<%=h vuln.id %>"><%=h vuln.url %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
