<% content_for :breadcrumbs  do %>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/db">Database</a></li>
    </ul>
  </nav>
<% end %>
  
<div class="is-flex is-justify-content-space-between">
  <h1>Vulnerabilities</h1>
  <%= partial(:delete_all, path: "vulns") %>
</div>

<% @vulns.each do |vuln| %>
  <p><a href="/db/vulns/<%=h vuln.id %>"><%=h vuln.url %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
