<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<h1>URL Schemes</h1>

<% @url_schemes.each do |url_scheme| %>
  <p><a href="/db/url_schemes/<%=h url_scheme.id %>"><%=h url_scheme %></a></p>
<% end %>

<%= pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
