<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<div class="is-flex is-justify-content-space-between">
  <h1>URL Schemes</h1>
  <%= partial(:delete_all, path: "url_schemes") %>
</div>

<% @url_schemes.each do |url_scheme| %>
  <p><a href="/db/url_schemes/<%=h url_scheme.id %>"><%=h url_scheme %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
