<% content_for :breadcrumbs  do %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/db">Database</a></li>
  </ul>
</nav>
<% end %>

<div class="is-flex is-justify-content-space-between">
  <h1>Advisories</h1>
  <%= partial(:delete_all, path: "advisories") %>
</div>

<form action="/db/advisories/import" method="post" class="mb-5">
  <div class="field has-addons">
    <div class="mr-1">
      <input class="input" name="id" placeholder="ID"></input>
    </div>
    <div>
      <button type="submit" class="button is-primary">Import</button>
    </div>
  </div>
</form>

<% @advisories.each do |advisory| %>
  <p><a href="/db/advisories/<%=h advisory.id %>"><%=h advisory %></a></p>
<% end %>

<%= partial(:pagination, pagy: @pagy) %>
